body {
    margin: 20px;

    font-family:  'Courier New', Courier, monospace;

}
.avatar{

    width:150px;
    border-radius: 77%;
}
.card{
        padding:20px; 
    display:flex;
    justify-content: space-around; 
    width:400px;
    margin:0 auto;
text-align: center;
    background: #f7b267;
    color: #003049;
    border-bottom: 10px solid #f27059;
    box-shadow: 0 0 77px rgba(0,0,0,.5);
    border-radius: 7px;
}